.education{
    max-width: 1040px;
    margin: auto;

}
.dodo{
    font-size: 2.25rem; /* 36px */
line-height: 2.5rem; /* 40px */
font: bold;
text-align: center;
color: #001b5e;
margin: 0px;
padding-top: 1rem;
}

.educationlist{
    display: flex;
    flex-direction: column;
  
}

.circle{
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-color: rgb(231, 229, 228);
    border-radius: 9999px;
    margin-top: 0.375rem;
    margin-left: -1.5em;
    border-color: white;
}
.lala{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row;
    justify-items: center;
    justify-items: start;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
}
.Year{
display: inline-block;
padding-left: 0.5rem; /* 8px */
padding-right: 0.5rem; /* 8px */
padding-top: 0.25rem; /* 4px */
padding-bottom: 0.25rem; /* 4px */
font-weight: 600;
color: white;
background-color: #001b5e;
border-radius: 0.375rem;
}
.Title{
	font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */
font-weight: 600;
color: #001b5e;
}
.Duration{
    margin-top: 0.25rem; /* 4px */
    margin-bottom: 0.25rem; /* 4px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    font: normal;
    line-height: 1;
    color: rgb(168 162 158);
}
.Details{
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem; /* 8px */
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    font: normal;
    color: rgb(120 113 108);
}
.Hidden{
    display: none;
}
.DisplayDetailsBtn:hover{
    background-color: white;
    
}
.DisplayDetailsBtn{
    background: none;
}
@media (min-width: 768px){
    .education{
        padding-left: 1rem;
        padding-top: 2rem; 
padding-bottom: 3rem; 
    }
    .educationlist{
        
        flex-direction: row;
        position: relative;
        margin: 0px;
        
    }
    .lala{
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
    }
}