/* Styles for the side navigation button */
.sidenav {
  position: fixed;
  top: 4px;
  right: 4px;
  z-index: 10;
  cursor: pointer;
}

/* Styles for the side navigation menu container */
.container {
  position: fixed;
  top: 25px;
  right: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 150px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  
}

/* Styles for the top navigation menu container */
.container_topnav {
 
  top: 0px; /* Adjust this value based on your design */
  left: 50%; /* Position from the horizontal center */
  transform: translateX(-50%); /* Centering trick */
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
  z-index: 20;
  display: none;

  position: fixed;
  
;
 
  
  
}




/* Styles for navigation links */
.anch {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  
}
.an {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* Hover styles for navigation links */
.anch:hover {
  background-color: burlywood;
}
.an:hover {
  background-color: burlywood;
}

/* Media query for responsiveness */
@media (min-width: 768px) {
  .sidenav {
    display: none;
  }
  .container {
    display: none;
  }
  .container_topnav {
    display: flex;
  }
}

